/venv
/env
/logs
*.sqlite3
.idea
.idea/*
.python-version
.env
*.xml
*.iml
*/__pycache__/
*.pyc
__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
*/*/*/*/__pycache__/
common/sms_utils/melipayamak/sms/__pycache__/
dump.rdb
celerybeat-schedule
/static-root/
/.docker-env
/products.txt
/private.key
/logs/*
!/coverage.xml
/data
/public.key
